.logo {
    color: #ff5722;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.post {
    margin-bottom: 1rem;
}
h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.post-title h1,
.post-title h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.4rem;
}
.post-title a {
    color: #333;
    font-weight: normal;
}
.post-line-2,
.post-line-2 a {
    color: gray;
}
.post-line-2 {
    margin-bottom: 0.4rem;
}
.vote-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-justify-content: flex-start;
    text-align: center;
    margin-top: 3px;
    margin-right: 15px;
}
.vote-button {
    padding: 0;
    background-color: #fff;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
    cursor: hand;
}
.vote-button:focus {
    outline: 0;
}
.upvote {
    border-top: 0px;
    border-bottom: 15px solid #DDDDDD;
    margin-bottom: 10px;
}
.downvote {
    border-top: 15px solid #DDDDDD;
    border-bottom: 0px;
}
.upvote[data-state="disabled"],
.downvote[data-state="disabled"] {
    cursor: not-allowed;
}
.upvote[data-state="voted"] {
    border-top: 0px;
    border-bottom: 15px solid #ff5722;
}
.downvote[data-state="voted"] {
    border-top: 15px solid #ff5722;
    border-bottom: 0px;
}
.comments {
    margin-top: 1rem;
}
.comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 5px;
}
.indent-1 {} 
.indent-2 {
    margin-left: 10px;
}
.indent-3 {
    margin-left: 20px;
}
.indent-4 {
    margin-left: 30px;
}
.indent-5 {
    margin-left: 40px;
}
.indent-6 {
    margin-left: 50px;
}
.indent-7 {
    margin-left: 60px;
}
.indent-8 {
    margin-left: 70px;
}
.indent-9 {
    margin-left: 80px;
}
.indent-10 {
    margin-left: 90px;
}
.indent-11 {
    margin-left: 100px;
}
.indent-12 {
    margin-left: 110px;
}
.comment-text {
    margin-bottom: 5px;
    min-height: 40px;
}
.comment-header,
.comment-header a {
    color: gray;
}
.post-text,
.comment-text {
    background-color: #ffefeb;
    border: 1px solid #ffccbd;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding-left: 8px;
    padding-right: 8px;
}
.post-text {
    margin-bottom: 15px;
}
.comment-text h1,
.post-text h1 {
    font-size: 20px;
}
.comment-text h2,
.post-text h2 {
    font-size: 17px;
}

.post-text h3,
.post-text h4,
.post-text h5,
.post-text h6,
.comment-text h3,
.comment-text h4,
.comment-text h5,
.comment-text h6 {
    font-size: 14px;
    font-weight: normal;
}
