.topic {
  padding-bottom:10px;
  line-height: 1.1em;
  color: black;
}
.topic.read {
  color: gray;
}

.topic a {
  text-decoration: none;
  color: inherit;
}

.topic:hover {
  background-color: #f8f8f8;
}

.topic-line-2 {
  font-size: 0.8em;
  color: gray;
}
