<div class="topics">
  <div class="topic" *ngFor="let topic of topics" [ngClass] = "{'read': topic.isRead}">
    <a routerLink="/discuss/{{ topic.id }}">
      <div class="topic-title">
          {{ topic.title }}
      </div>
      <div class="topic-line-2">
        <div class="topic-score">
          by {{ topic.author }} |
          in {{ topic.team }} |
          {{ topic.numComments }} comments |
          {{ topic.submissionTime | date: 'yyyy-MM-dd'}}
        </div>
      </div>
    </a>
  </div>
</div>