{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% load markdown %}
{% block title %}Edit Discussion{% endblock %}

{% block content %}
<div class="container-fluid">

<h1>Editing Discussion</h1>

<div class="row">
<div class="col-md-4 col-sm-6">
<br/>
<form method="post">
    {% csrf_token %}
    {{ form | bootstrap }}
    <input type="submit" value="Edit Discussion" />
</form>
<br/>
<strong>Preview</strong>
<div class="comment-text">
  <p id="preview">
  </p>
</div>
</div></div></div>

{% endblock %}

{% block before-body-close %}
<script>
    var to_markdown = function() {
        html_content = markdown.toHTML(this.value);
        $("#preview").html(html_content);
    };
    $('#id_text').bind('input propertychange', to_markdown);
</script>
<script src="{% static "markdown.min.js" %}"></script>
{% endblock %}
